*{
    margin: 0;
    
}
.nav-container{
    display: inline-flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.menu nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
}
a{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.banner-container{
    background-image: url('../image/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.banner-header{
    color: white;
    font-size: 55px;
}
.primary{
    color: red;
}
.description{
    color: white;
    width: 50%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 20px;
}
.primary-btn{
    background-color: red;
    border: none;
    padding: 15px 20px;
    color: white;
    margin-right: 10px;
}
.btn-white{
    background-color: white;
    border: none;
    padding: 15px 20px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url('../image/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 20px;
}
/* .right-side{
    display: flex;
    justify-content: space-between; */

.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
}
.first-two-box{
    display: flex;
    margin-top: 5px;
    gap: 3px;
}
.info-header{
    color: white;
    text-align: justify; margin-top: 15px;
}
.info-description{
    color: white;
    text-align: justify;
    width: 50%; margin-bottom: 15px;
}
.left-side{
    color: white;
    margin-left: 15px;
    margin: 15px;
}
.right-side{
    color: white;
}
.box-icon{
    width: 70px;
    margin-bottom: 20px;
}
.author{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}
.author-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
.author-image{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    marg
}
.btn{
    padding: 20px 20px;
    border: none;
}